.add {
  margin: 10px !important;
  float: right !important;

}

.edit {
  margin: 10px !important;
  float: right !important;
}

.delete {
  margin: 10px !important;
  float: right !important;
}

#float-button {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
}


.container {
  position: relative;
}
